{% block body %}
    <div class="page-header">
        <h1>Current Month Expenses</h1>
    </div>

    <div class="col-md-12">
        {% include 'TransactionsBundle:partial:_monthSpents.html.twig' %}
        <div id="containerGUI">
            <div id="listagem">
                <div id="container2"></div>
            </div>
        </div>
    </div>

    <div id="containerGUI">
        <div id="listagem">
            <div id="container4" style="width: 100%; height: 45%"></div>
        </div>
    </div>

    <div id="containerGUI">
        <div id="listagem">
            <div id="container3" style="width: 100%; height: 45%"></div>
        </div>
    </div>
{% endblock %}
