<nav>
    <ul class="pagination justify-content-center">
        {% for y in years %}
            <li class="page-item {% if y.year == year %}active{% endif %}">
                <a class="page-link" href="{{ path('main_dashboard', {'year' : y.year, 'month' : month}) }}">
                    {{ y.year }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
<nav>
    <ul class="pagination justify-content-center">
        {% for m in months %}
            <li class="page-item {% if m.months == month %}active{% endif %}">
                <a class="page-link" href="{{ path('main_dashboard', {'year' : year,'month' : m.months}) }}">
                    {{ m.monthName|date('F') }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
