{% block body %}
    <table class="table table-hover table-sm table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>Category</th>
                <th>Total</th>
            </th>
        </thead>
        {% for monthSpent in monthSpents %}
            <tr>
                <td>{{ monthSpent.description }}</td>
                <td>{{ monthSpent.amount }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
