{% include 'TransactionsBundle:partial:_monthMenu.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Current Month Expenses</h1>
    </div>
    <div class="col-md-12">
      <div id="containerGUI">
          <div id="listagem">
              <div id="container2"></div>
          </div>
      </div>
    </div>
    {% include 'TransactionsBundle:partial:_month.html.twig' %}
{% endblock %}
