<nav class="text-center">
    <ul class="pagination">
        {% for y in years %}
            <li {% if y.year == year %} class="active" {% endif %}>
                <a href="{{ path('home', {'year' : y.year, 'month' : month}) }}">
                    {{ y.year }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
<nav class="text-center">
    <ul class="pagination">
        {% for m in months %}
            <li {% if m.months == month %}class="active"{% endif %}>
                <a href="{{ path('home', {'year' : year,'month' : m.months}) }}">
                    {{ m.monthName|date('F') }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
