html,body{
    height:100%;
    color: #1b404b;
    background-color: #f0f1f3;
    line-height: 22px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.tab-pane .month-display div
{
    margin: 0 0 10px 0;
}

.fin-menu {
    background-color: #485f71;
}
