/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/components/
/web/js/*
/web/css/*
/web/fonts/*
/web/bundles/*
/web/assetic/*
.DS_Store
.sass-cache/
data/
tests/
help/
watch/
phpunit.phar
