<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% stylesheets '@bootstrap_css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
       <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% javascripts '@jquery' '@bootstrap_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
        <script src="https://code.highcharts.com/highcharts.src.js"></script>
        {% block menu %}{% endblock %}
        <br/>
        <div class="container">
            {% for flash_message in app.session.flashBag.get('notice') %}
              <div class="alert alert-success">
                {{ flash_message }}
              </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
