<ul id="myTabs" class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#table" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Home</a>
  </li>
  <li role="presentation" class="">
    <a href="#graph" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Graph</a>
  </li>
</ul>
