{% extends 'base.html.twig' %}

{% block menu %}
  {% include 'menu.html.twig' %}
{% endblock %}
{% block body %}
    <div class="text-right">
        <a class="btn btn-success" href="{{ path('budget_new') }}">New</a>
    </div>
    <table class="table table-condensed table-hover table-responsive">
      <tr>
        <th class="text-left">Categorie</th>
        <th class="text-right">Limit</th>
        <th class="text-right">Current Ammount</th>
      </tr>
      {% for budget in budgets %}
        <tr>
            <td>{{ budget.name }}</td>
            <th class="text-right">{{ budget.budgetLimit }} €</td>
            <th class="text-right">0  €</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
