{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-right">
        <a class="btn btn-success" href="{{ path('budget_new') }}">New</a>
    </div>
    {% include 'BudgetBundle:Budget:data.html.twig' %}
{% endblock %}
