#top-menu {
  padding-top: 25px;
  background-color: #3c8dbc;
  .logo {

  }
  .nav-menu {
    text-align: right;
    transform: translateY(-50%);
    a, a:hover, a:visited,  {
      line-height: 31px;
      display: inline;
      background: rgba(255,255,255,0);
      letter-spacing: 1px;
      text-decoration: none;
      color: #FFF;
      padding: 15px 20px;
    }
  }
}
