#top-menu {
  padding: 20px
  .nav-menu {
    text-align: right
  }
  .nav-menu a {
    text-transform: uppercase
    font-size: 14px
    font-weight: bold
    line-height: 31px
    display: inline
    background: rgba(255,255,255,0)
    letter-spacing: 1px
  }
}
