{% block body %}
    <div class="col-md-3">
      {% include 'AccountBundle:Default:dailyTable.html.twig' %}
    </div>
    <div id="containerGUI" class="col-md-6">
        <div id="listagem">
            <div id="container" style="width: 60%; height: 45%"></div>
        </div>
    </div>

    <div id="containerGUI" class="col-md-6">
        <div id="listagem">
            <div id="container3" style="width: 60%; height: 45%"></div>
        </div>
    </div>
{% endblock %}
