{% block javascripts %}
    {% javascripts '@AccountBundle/Resources/public/js/pie.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="col-md-3">
      {% include 'AccountBundle:Default:descriptionDailyData.html.twig' %}
    </div>
{% endblock %}
