{% extends 'base.html.twig' %}

{% block body %}
  {% include 'menu.html.twig' %}
  <script type="text/javascript">
      obj = jQuery.parseJSON('{{ data|raw }}');
      day = jQuery.parseJSON('{{ dataDay|raw }}');
  </script>
  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="table">
          {% include 'AccountBundle:Default:table.html.twig' %}
      </div>
      <div role="tabpanel" class="tab-pane" id="graph">
          {% include 'AccountBundle:Default:graph.html.twig' %}
      </div>
  </div>
{% endblock %}
