{% block javascripts %}
    {% javascripts '@AccountBundle/Resources/public/js/pie.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
6
    <div class="page-header">
        <h1>Expenses</h1>
    </div>
    <div class="col-md-3">
      {% include 'AccountBundle:Default:monthTable.html.twig' %}
    </div>
    <div id="containerGUI" class="col-md-4">
        <div id="listagem">
            <div id="container2" style="width: 65%; height: 65%"></div>
        </div>
    </div>
{% endblock %}
