{% extends 'base.html.twig' %}

{% block body %}
  <script type="text/javascript">
    yearTransac = jQuery.parseJSON('{{ transactionsJson|raw }}');
  </script>

  {% javascripts '@TransactionsBundle/Resources/public/js/pieYear.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  <div class="card">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="table">
        <div class="col-md-12 mt-3">
          {% include 'TransactionsBundle:partial:_yearGraphNetWorth.html.twig' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
