{% include 'TransactionsBundle:default:monthMenu.html.twig' %}

{% block body %}
    <!-- <div class="col-md-5"> -->
        <div id="container"></div>
    <!-- </div> -->
    <!-- <div class="col-md-12"> -->
        {% include 'TransactionsBundle:default:_month.html.twig' %}
    <!-- </div> -->
{% endblock %}
